body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

h1 {
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button {
    background-color: #0000ff;
    color: #fff;
    padding: 30px 90px;
}

button:hover {
    background-color: #008000;
}